
#wisc-h5plti {
    margin-top: 16px;
}
#wisc-h5plti input[type=checkbox] {
    margin: 0;
}

.input-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 6px 6px 6px;
}

.input-container input {
    border-radius: 3px;
}
.input-container.right {
    justify-content: flex-end;
}

#ll-submit-grading, #ll-submit-attempted {
    width: 168px;
}


.float-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

}

#ll-submit-attempted {
    margin: 20px 4% 5px 4%;
}

.ll-warning {
    text-align: center;
    color: red;
}

#ll-statements {
    margin-top: 10px;
}

#chapter_grade_sync_fields_submit {
    display: inline-block;
    float: right;
}
#wisc-h5plti table {
    width: 100%;
}

#h5p-grade-sync-log-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
}
#h5p-grade-sync-log-content td,
#h5p-grade-sync-log-content th {
    border: 1px solid #ddd;
    padding: 8px;
}